@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------special/text/margin/padding*/
.uppercase{
    text-transform: uppercase;
}

html,
body {
    width: 100%;
}


.caption-header{
    font-family: "Exo" , sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: black;
}

.caption-p{
    font-family: "Roboto" , sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: black;
    padding-right: 10px;
}

.carousel-caption{
    background-color: rgba(239, 239, 239 , .5)
}

/*------------------------background images*/

.bg-image{
    height: 100vh;
    width: 100%;

    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}



.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    height: 100vh;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.pictures{
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.home-screen{
    height: 100vh;
     padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

/*-------------------------NAV*/
nav{
    overflow: auto;
}

.nav-color{
    background-color: rgba(0,0,0,.4)
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border: 0;
    border-radius: 0;
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
}

.navbar .logo-text{
    font-family: "Exo" , sans-serif;
    font-weight: 600;
    color: #fafafa;
    font-size: 24px;
}
.navbar-default .navbar-nav>li>a{
    color: white;
    font-family: "Roboto" , sans-serif;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    background-color: rgba(255, 255, 255, .9);
    color: black;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all o.35s ease-in-out;
}

.navbar .logo-text:focus,
.navbar .logo-text:hover{
    color: #c60707;
    background-color: black;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all o.35s ease-in-out;
}

.nav-header{
    display: block;
    background-color: rgba(0,0,0,.7)
}

.nav-social{
    font-size: 18px;
    display: inline-block;
    padding: 10px;
}

.navbar-default .nav-social li a i:hover{
    background: #c60707;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all o.35s ease-in-out;
}

/*------------------------Home*/



.home-screen-button{
    margin-left: 10px;
}


.button-color{
    background-color: #c60707;
    border-color: black;
    border-bottom-style: solid;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all o.35s ease-in-out;
}

.button-color:focus,
.button-color:hover{
    background-color: black;
    border-color: #c60707;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all o.35s ease-in-out;
}

/*--------------Footer*/

.footer-logo-text{
   font-family: "Exo" , sans-serif;
    font-weight: 600;
    color: #fafafa; 
    font-size: 18px;
    padding-top: 20px;
}

.footer-text{
    font-family: "Exo" , sans-serif;
    font-weight: 600;
    color: #fafafa; 
    font-size: 18px;
    padding-top: 20px;
    text-align: center
}

.footer-bg{
    background-color: black;
}

.social-links{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: black;
    background: #fafafa;
}

.footer-title-spacing{
    padding: 20px 0px 5px 0px;
    text-align: center;
}

footer .footer-title-spacing>a:focus,
footer .footer-title-spacing>a:hover{
    color: #c60707;
    background-color: black;
    text-decoration: none;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all o.35s ease-in-out;
}

footer ul li a i:hover{
    background: #c60707;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all o.35s ease-in-out;
}


/*-----------------------------------------------------------------NEWS PAGE*/

.news-section-styling{
    padding-top: 52px;
    background-color: #b6d0f9;
    display: block;
}

.container-news{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.news-panel{
    height: 28%;
    width: 90%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}

.new-pictures{
    display: inline-block;
}

.news-quotes{
    display: inline-block;
}

.news-dates{
    font-family: "Roboto" ,sans-serif;
    font-weight: 600;
    color: #58657a;
}

.news-heading{
    font-family: "Exo" ,sans-serif;
    font-weight: 600;
    color: black;
}

.news-p{
    font-family: "Roboto" ,sans-serif;
    font-size: 18px;
    color: #58657a;

}

.news-img{
    padding: 15px;
}



.news-footer{
    
    width: 100%;
    display: block;
}

section .news-panel .news-quotes a h1:focus,
section .news-panel .news-quotes a h1:hover{
    text-decoration: none;
    color: #949ba8;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all o.35s ease-in-out;
}


section .news-panel .news-quotes a:focus,
section .news-panel .news-quotes a:hover{
    text-decoration: none;
}


/*---------------------------------------------------MUSIC PAGE*/

.music-section-styling{
    padding-top: 52px;
    background-color: #2d333d;
    display: block;
    height: 100%;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
}

.music-bg-image{
    height: 30vh;
    width: 100%;
    padding:0;
    margin: 0;

    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.main{
    width: 300px;
    border: 1px solid #282828;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.music-images{
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}


.music-row{
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}


.audio-width{
    width: 100%;
}

.music-p{
    text-align: center;
    font-family: "Roboto" , sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    color: #fafafa;
}


/*------------------------------------------------Tour*/

.tour-table{
    margin-top: 50px;
}

.tr-head{
    font-family: "Exo" , sans-serif;
    font-size: 24px;
}

.tr-body{
    font-family: "Roboto" , sans-serif;
    font-weight: 600;
}


/*-------------------------------------Contact*/

.center-form{
    max-width: 70%;
    margin: 0 auto;
    transform: translateY(50%);
}

.contact-button-color{
    color: #fafafa;
    margin-top: 20px;
}

.contact-button-color:hover,
.contact-button-color:focus{
    color: #fafafa;
}
.contact-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.contact-heading{
    font-family: "Exo" , sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.contact-text{
    font-family: "Roboto" , sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*--------------Media Query*/

@media(max-width: 500px){
    .carousel-caption{
        width:100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media(min-width: 720px) {
    .carousel-caption{
        vertical-align: middle;
    }
}

@media(max-width: 1220px){
    .news-quotes{
        padding: 0 15px 15px 15px;
    }
}

@media(max-width: 400px){
    .contact-footer{
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    }
    
    .center-form{
    max-width: 70%;
    margin: 0 auto;
    transform: translateY(25%);
}
}